* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, #d09866, #fefae0);
  overflow-x: hidden;
}

:root {
  --bg-primary: #3a506b;
  --text-gray: #878c96;
  --text-primary: #bc6c25;
}

a {
  text-decoration: none;
  color: inherit;
}

.background_circle {
  width: 50px;
  height: 50px;
  background-color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

img {
  transition: opacity 0.4s;
}

img:hover {
  opacity: 0.8;
}